<!DOCTYPE html>
<html>
<head>
  <title>Plohish</title>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag 'http://vkontakte.ru/js/api/xd_connection.js?2' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
